<h1>Hello word</h1>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Minimal Django File Upload Example</title>
	<style>
		#menu ul{
			list-style-type:none;
			padding:0px;
			margin:0px;
			}
		 
		#menu ul li{
			display:inline;
			float:left;
			text-align:center;
			text-decoration:none;
			}
	</style>
</head>

<body>
	<!-- Upload form. Note enctype attribute! -->
	{% if id == None %}
	   <form action="{% url 'home:admin' %}" method="post" enctype="multipart/form-data">
	{% else %}
	   <form action="{% url 'home:update' id=id %}" method="post" enctype="multipart/form-data">
	{% endif %}
		{% csrf_token %}
		<p>
			<table border=1 style="width: 100%; border-collapse: collapse">
				<tr>
					<td><label>Category</label></td>
					<td>{{ form.category }}</td>
				</tr>
				<tr>
					<td>{{ form.title.label_tag }}</td>
					<td>{{ form.title }}</td>
				</tr>
				<tr>
					<td>{{ form.subtitle.label_tag }}</td>
					<td>{{ form.subtitle }}</td>
				</tr>
				<tr>
					<td><label>User</label></td>
					<td>{{ form.users }}</td>
				</tr>
				<tr>
					<td>{{ form.summary.label_tag }}</td>
					<td>{{ form.summary }}</td>
				</tr>
				<tr>
					<td><label>Tags</label></td>
					<td>
						<div id="menu">
							<ul>
								<li >{{ form.tags }}</li>
							</ul>
						</div>
							
					</td>
				</tr>
				<tr>
					<td>{{ form.docfile.label_tag }}</td>
					<td>{{ form.docfile }}</td>
				</tr>
				<tr>
					<td>{{ form.content.label_tag }}</td>
					<td>{{ form.content }}</td>
				</tr>
				<tr>
					<td>{{ form.publish.label_tag }}</td>
					<td>{{ form.publish }}</td>
				</tr>
			</table>
		</p>
		<p><input type="submit" value="Upload"/></p>
		<a href="{% url 'home:logout' %}">Logout</a>
		<!-- List of uploaded documents -->
        {% if documents %}
			{% for document in documents %}
			<table border=1 style="width: 100%; border-collapse: collapse">
				<tr>
					<td>{{ document.title }}</td>
					<td><a href="/media/{{ document.docfile.url }}">{{ document.docfile.name }}</a></td>
					<td><img src="/media/{{ document.docfile.url }}" style="height: 120px; width: 120px"></td>
					<td><a href="{% url 'home:update' id=document.id %}">Edit</a></td>
					<td><a href="{% url 'home:remove' id=document.id %}">Remove</a></td>
				</tr>
			</table>
			{% endfor %}
        {% else %}
            <p>No documents.</p>
        {% endif %}
	</form>
</body>
</html>