<h1>Hello word</h1>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Minimal Django File Upload Example</title>
</head>

<body>
	<!-- Upload form. Note enctype attribute! -->
	{% if id == None %}
	   <form action="{% url 'home:admin' %}" method="post" enctype="multipart/form-data">
	{% else %}
	   <form action="{% url 'home:update' id=id %}" method="post" enctype="multipart/form-data">
	{% endif %}
		{% csrf_token %}
		<p>
			{{ form.docfile.label_tag }}{{ form.docfile }}
			{{ form.title.label_tag }}{{ form.title }}
			{{ form.users }}
			{{ form.tags }}
		</p>
		<p><input type="submit" value="Upload"/></p>
		<a href="{% url 'home:logout' %}">Logout</a>
		<!-- List of uploaded documents -->
        {% if documents %}
			{% for document in documents %}
			<table border=1 style="width: 100%; border-collapse: collapse">
				<tr>
					<td>{{ document.title }}</td>
					<td><a href="/media/{{ document.docfile.url }}">{{ document.docfile.name }}</a></td>
					<td><img src="/media/{{ document.docfile.url }}" style="height: 120px; width: 120px"></td>
					<td><a href="{% url 'home:update' id=document.id %}">Edit</a></td>
					<td><a href="{% url 'home:remove' id=document.id %}">Remove</a></td>
				</tr>
			</table>
			{% endfor %}
        {% else %}
            <p>No documents.</p>
        {% endif %}
	</form>
</body>
</html>