<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Page Blog</title>
	
	<link href="/media/src/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="/media/src/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/media/src/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="/media/src/css/main.css">
	<link rel="stylesheet" href="/media/src/css/sb-admin-2.css">
	<meta charset="utf-8">
	<style>
		#menu ul{
			list-style-type:none;
			padding:0px;
			margin:0px;
			}
		 
		#menu ul li{
			display:inline;
			float:left;
			text-align:center;
			text-decoration:none;
			}
		.table-tr{
			width: 100px; margin: auto;
		}
		.table-th{
			text-align: center;
		}
	</style>
</head>

<body>
	<div id="wrapper">
		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Admin</a>
            </div>
            <!-- /.navbar-header -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="#">Blog</a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/blog">Blog</a>
                                </li>
								<li>
                                    <a href="/category">Category</a>
                                </li>
								<li>
                                    <a href="/tags">Tags</a>
                                </li>
                            </ul>
							<a href="#">Users</a>
                            <ul class="nav nav-second-level">
								<li>
                                    <a href="/group">Group</a>
                                </li>
								<li>
                                    <a href="/users">Users</a>
                                </li>

								<li>
                                    <a href="/logout">Logout</a>
                                </li>
							</ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
		<div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
						<div class="container-fluid">
							<div class="page-header">
									{% if id == None %}
								<form action="{% url 'home:blog' %}" method="post" enctype="multipart/form-data">
									{% else %}
								<form action="{% url 'home:update' id=id %}" method="post" enctype="multipart/form-data">
									{% endif %}
									{% csrf_token %}
								<p>
									<table border=1 style="width: 100%; border-collapse: collapse">
										<tr>
											<td>{{ form.title.label_tag }}</td>
											<td>{{ form.title }}</td>
										</tr>
										<tr>
											<td><label>User</label></td>
											<td>{{ form.users }}</td>
										</tr>
										<tr>
											<td>{{ form.docfile.label_tag }}</td>
											<td>{{ form.docfile }}</td>
										</tr>
										<tr>
											<td><label>Tags</label></td>
											<td>
												<div id="menu">
													<ul>
														<li>{{ form.tags }}</li>
													</ul>
												</div>
											</td>
										</tr>
										<tr>
											<td><label>Category</label></td>
											<td>{{ form.category }}</td>
										</tr>
										<tr>
											<td><label>Subtitle</label></td>
											<td>{{ form.subtitle }}</td>
										</tr>
										<tr>
											<td><label>Content</label></td>
											<td>{{ form.content }}</td>
										</tr>
										<tr>
											<td><label>Summary</label></td>
											<td>{{ form.summary }}</td>
										</tr>
										<tr>
											<td><label>Publish</label></td>
											<td>{{ form.publish }}</td>
										</tr>
									</table>
								</p>
								<p>
									<input type="submit" value="Upload"/>
									<a href="{% url 'home:logout' %}">Logout</a>
								</p>
							</div>
						</div>
						</form>
						<!-- List of uploaded documents -->
						{% if documents %}
							<div class="container-fluid">
								<nav style=" text-align: center;">
									<ul class="pagination">
										{% if documents.has_previous %}
										  <li><a href="?page={{ documents.previous_page_number }}"><<</a></li>
									  {% endif %}
									  {% for pg in documents.paginator.page_range %}
										  {% if documents.number == pg %}
											  <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
										  {% else %}
											  <li><a href="?page={{ pg }}">{{ pg }}</a></li>
										  {% endif %}
									  {% endfor %}
									  {% if documents.has_next %}
										  <li><a href="?page={{ documents.next_page_number }}">>></a></li>
									  {% endif %}
									
									</ul>
								</nav>
							</div>
							<div class="container-fluid">								
								<table border=1 style="width: 100%; border-collapse: collapse">
									<thead>
										<tr class="table-tr">
											<th class="table-th">Title</th>
											<th class="table-th">Users</th>
											<th class="table-th">Category</th>
											<th class="table-th">Tags</th>
											<th class="table-th">Publish</th>
											<th class="table-th">Links</th>
											<th class="table-th">Image</th>
											<th class="table-th">Edit</th>
											<th class="table-th">Remove</th>
										</tr>
									</thead>
									<tbody>
										{% for document in documents %}
										<tr class="table-tr">
											<td style="padding-left: 5px;">{{ document.title }}</td>
											<td class="table-th">{{ document.users }}</td>
											<td class="table-th">{{ document.category }}</td>
											<td style="padding-left: 5px;">
												<div id="menu">
													<ul>
													{% for image in document.tags.all %}
														<li>{{ image.name }} &nbsp;</li>
													{% endfor %}
													</ul>
												</div>
											</td>
											<td class="table-th">{{ document.publish }}</td>
											<td style="padding-left: 5px;"><a href="/media/{{ document.docfile.url }}">{{ document.docfile.name }}</a></td>
											<td class="table-th"><img src="/media/{{ document.docfile.url }}" style="height: 120px; width: 120px"></td>
											<td class="table-th"><a href="{% url 'home:update' id=document.id %}">Edit</a></td>
											<td class="table-th"><a href="{% url 'home:remove' id=document.id %}">Remove</a></td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						{% else %}
							<p>No documents.</p>
						{% endif %}
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
	</div>
</body>
</html>