<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Page Admin</title>
	
	<link href="/media/src/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="/media/src/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/media/src/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="/media/src/css/main.css">
	<link rel="stylesheet" href="/media/src/css/sb-admin-2.css">
	<meta charset="utf-8">
	<style>
		#menu ul{
			list-style-type:none;
			padding:0px;
			margin:0px;
			}
		 
		#menu ul li{
			display:inline;
			float:left;
			text-align:center;
			text-decoration:none;
			}
	</style>
</head>
<body>
	<div id="wrapper">
		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Admin</a>
            </div>
            <!-- /.navbar-header -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="#">Blog</a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/blog">Blog</a>
                                </li>
								<li>
                                    <a href="/category">Category</a>
                                </li>
								<li>
                                    <a href="/tags">Tags</a>
                                </li>
                            </ul>
							<a href="#">Users</a>
                            <ul class="nav nav-second-level">
								<li>
                                    <a href="/group">Group</a>
                                </li>
								<li>
                                    <a href="/users">Users</a>
                                </li>

								<li>
                                    <a href="/logout">Logout</a>
                                </li>
							</ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
		<div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-header">
								{% if id == None %}
							<form action="{% url 'home:group' %}" method="post">
								{% else %}
							<form action="{% url 'home:update_group' id=id %}" method="post">
								{% endif %}
								{% csrf_token %}
							<p>
								<table border=1 style="width: 100%; border-collapse: collapse">
									<tr>
										<td>Name</td>
										<td>{{ form.name }}</td>
									</tr>
									<tr>
										<td><label>Users</label></td>
										<td>
											<div id="menu">
												<ul>
													<li>{{ form.users }}</li>
												</ul>
											</div>
										</td>
									</tr>
								</table>
							</p>
							<p>
								<input type="submit" value="Submit" />
							</p>
						</div>
						</form>
						<!--Bang hien thi-->
							{% if groups|length %}
						<table border=1 style="width: 100%; border-collapse: collapse">
								{% for group in groups %}
							<tr>
								<td>{{ group.name }}</td>
								<td>
									<div id="menu">
										<ul>
										{% for user in group.users.all %}
											<li>{{ user.role }} &nbsp;</li>
										{% endfor %}
										</ul>
									</div>
								</td>
								<td><a href="{% url 'home:update_group' id=group.id %}">Edit</a></td>
								<td><a href="{% url 'home:remove_group' id=group.id %}">Remove</a></td>
							</tr>
								{% endfor %}
						</table>
							{% endif %}
                    </div>
				</div>
			</div>
		</div>
				<!-- /.col-lg-12 -->
		</div>
			<!-- /.row -->
	</div>
	<script src="/media/src/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/media/src/bootstrap/js/bootstrap.min.js"></script>
	<script src="/media/src/bootstrap/js/bootstrap.js"></script>
</body>
</html>