<!DOCTYPE html>
<html>
    <head>
		<link href="/media/src/bootstrap/css/bootstrap.css" rel="stylesheet">
		<link href="/media/src/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/media/src/bootstrap/css/bootstrap.css" rel="stylesheet">
		<script src="/media/src/bootstrap/js/bootstrap.js"></script>
		<link rel="stylesheet" href="/media/src/css/main.css">
        <meta charset="utf-8">
        <title>Image Django By Thuy</title>
		<style>
			#items .item .info {
				visibility: hidden;
			}

			#items .item:hover .info {
				visibility: visible; color:White;
			}
			
		</style>
    </head>

    <body>
		<div class="jumbotron banner-homepage">
			<nav id="main_navbar" class="container navbar index">
				<div class="container-fluid">
					<nav class="collapse navbar-collapse navbar-main navbar-left">
						<ul class="navbar-nav navbar-right nav">
							<li><a href="/">Home</a></li>
						</ul>
					</nav>
					<nav class="collapse navbar-collapse navbar-main navbar-right">
						<ul class="navbar-nav navbar-right nav">
							<li><a href="#" style = "color: #777">Explore</a></li>
							<li><a href="#">Sign up</a></li>
							<li><a href="/auth">Log in</a></li>
						</ul>
					</nav>
				</div>
			</nav>
		</div> 
		<div class="container">
			<div class="masthead" >
				<nav>
					<ul class="nav nav-justified">
						<li class="active"><a href="#">Photos</a></li>
						<li><a href="#">Illustrations</a></li>
						<li><a href="#">Vector graphics</a></li>
						<li><a href="#">Videos</a></li>

					</ul>
				</nav>
			</div>
		</div>
		
        <!-- List of uploaded documents -->
		{% if posts %}
			<div class="container-fluid">
				{% for post in posts.object_list %}
					<div class="col-md-2">
						<div id="items" class="thumbnail" >
							<div class="item" style="background:url('/media/{{ post.docfile.url }}') center center; background-size:cover; height:200px">
								<div class="info">
									<p>{{ post.title }}<br/>{{ post.pub_date }}</p>
								</div>
							</div>
						</div>
					</div>
					{{ post.body|truncatewords:80 }}
				{% endfor %}
			</div>
			<div class="container-fluid">
				<nav style=" text-align: center;">
					<ul class="pagination">
						{% if posts.has_previous %}
						  <li><a href="?page={{ posts.previous_page_number }}"><<</a></li>
					  {% endif %}
					  {% for pg in posts.paginator.page_range %}
						  {% if posts.number == pg %}
							  <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
						  {% else %}
							  <li><a href="?page={{ pg }}">{{ pg }}</a></li>
						  {% endif %}
					  {% endfor %}
					  {% if posts.has_next %}
						  <li><a href="?page={{ posts.next_page_number }}">>></a></li>
					  {% endif %}
					
					</ul>
				</nav>
			</div>
		{% else %}
            <p>No documents</p>
		{% endif %}
    </body>
</html>